@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
$cursive-font: "Shadows Into Light", handwriting; 

#main-box {
    padding: 0;
    overflow: hidden;
}

#main-content {
    padding: 1.25rem;
}

#hello {
    transform: rotate(-5deg);
}

.cursive {
    font-family: $cursive-font;
}