$family-sans-serif: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
$title-family:  "Vollkorn", serif;
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 600;
$tablet: 700px;
$size-7: 0.9rem;

$dark: hsl(0, 0%, 21%);
/* From bahaiworld.bahai.org */
$dark-blue: #1e2831;
$primary: hsl(208, 40%, 30%);

/* Customise hero */
$hero-body-padding: 3rem 1.5rem 4rem 1.5rem;

/* Customise tabs toggle navigation */
$tabs-toggle-link-border-color: $dark-blue;
$tabs-toggle-link-hover-border-color: $dark-blue;
$tabs-toggle-link-active-background-color: $dark-blue;
$tabs-toggle-link-active-border-color: $dark-blue;

/* Customise form */
$label-color: hsl(0, 0%, 29%);

/* Customise footer */
$footer-background-color: $dark-blue;
$footer-color: white;
$footer-padding: 0.5rem 3rem 6rem;