/* My variables */
/* 
Main: #00d1b0
Secondary: #3273dc
*/
$cursive-font: "Shadows Into Light", handwriting;

/* My helper classes */
.cursive {
    font-family: $cursive-font;
}

/* #fff, hsl(171, 100%, 96%) */

.underline {
    background-image: linear-gradient(hsl(171, 100%, 100%) 93%, currentColor 93%);
}

a.underline {
    color: $text;
    font-weight: 600;
    &:hover {
        background-image: linear-gradient($light 93%, $light 93%);
    }
}

.overline {
    border-top: 2px solid currentColor;
}

.title {
    letter-spacing: 0.2rem;
    padding-bottom: 0.5rem;
    // text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,.5);
}

.article-title {
    padding: 0.5rem 1rem;
    border-radius: $radius-large;
    background-color: hsl(171, 100%, 96%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2327635a' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: $primary;
    font-weight: $weight-bold;
    text-align: center;
    letter-spacing: 0.1rem;
    &.tagline {
        display: flex;
        letter-spacing: 0.0rem;
        text-align: left;
        &::before {
            display: flex;
            content: "🎓";
            font-size: 2.5rem;
            align-items: center;
            padding-right: 1rem;
        }
    }

    /*
    font-weight: 300;
    font-size: 3rem;
    color: $primary;

    background-color: hsl(171, 61%, 100%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2327635a' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    border-radius: 0.7rem;

    border-bottom-left-radius: 0.9rem 16rem;
    border-bottom-right-radius: 14rem 0.9rem;
    border-top-left-radius: 16rem 0.9rem;
    border-top-right-radius: 0.9rem 14rem;
    border: 2px solid $primary;

    padding: 0 1rem 0 1rem;
    */
}

.wave {
    margin-bottom: -0.2rem;
}

.engrave {
    /* text-shadow: 0px -0.2rem 0px rgba(0,0,0,.5); */
    text-shadow: 0.2rem 0.2rem 5px rgba(0,0,0,.5);
    font-weight: 700;
    &.title {
        font-size: 4rem;
    }
}

/* Similar to http://www.ximenavengoechea.com/ footer */
.social-media {
    white-space: nowrap;
    &:hover > a {
        transition-duration: 0.5s;
        color: $grey-dark;
    }
    a {
        transition-duration: 0.1s;
        color: $white;
        &:hover > span {
            color: $white;
        }
    }

    /* Attempt at social media icons like on https://brittanychiang.com/
    display: inline-block;
    color: $grey-light;
    transition-duration: 0.0s;
    &:hover {
        color: $white;
        transform: translateY(-0.1rem);
    }

    border-bottom: 0.15rem solid currentColor;
    border-top: none;
    display: inline-block;
    line-height: 0.8rem;
    color: $link;
    */
}

.mybutton.to-activity {
    height: 5rem;
    transition: background-color 0.1s;
    &:hover {
        color: $white;
        background-color: $dark;
    }
    span {
        border-bottom: 0.1rem solid currentColor;
        display: inline-block;
        line-height: 1.2;
    }
}

/* My own styles */

#main {
    padding: 0;
    overflow: hidden;
}

article {
    padding: 3rem 3rem 0 3rem;
}

#hello {
    transform: rotate(-5deg);
}

html {
    /* 
    Generated using heropatterns.com 
    Background: #c2f0e9
    Forground: #27635a
    */
    background-color: #c2f0e9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2327635a' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); 
    

    /*
    background: rgb(0,209,176);
    background: linear-gradient(120deg, rgba(0,209,176,1) 0%, rgba(50,115,220,1) 100%);
    */
}

header {
    margin-bottom: 1rem;
}

/* Need better way of identifying page titles
h2.has-text-primary {
    padding: 0.5rem 1rem;
    border-radius: $radius-large;
    background-color: hsl(171, 100%, 96%);
    &.is-size-3 {
        letter-spacing: 0.1rem;
    }
    &.is-size-5 {
        display: flex;
        &::before {
            display: flex;
            content: "🎓";
            font-size: 2.5rem;
            align-items: center;
            padding-right: 1rem;
        }
    }
}

.tagline {
    display: flex;
    align-items: center;

    font-weight: 300;
    font-size: 2rem;

    background-color: hsl(171, 61%, 100%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2327635a' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    border-radius: 0.7rem;

    border-bottom-left-radius: 0.9rem 16rem;
    border-bottom-right-radius: 14rem 0.9rem;
    border-top-left-radius: 16rem 0.9rem;
    border-top-right-radius: 0.9rem 14rem;
    border: 2px solid $grey-dark;
    // box-shadow: 0.9rem 28px 25px -18px rgba(0,0,0,.2);
    // box-shadow: 0.2rem 0.2rem $grey-dark;
    padding: 1rem;
    
    &::before {
        content: url("../img/ornament.svg");
        padding-right: 0.5rem;
    }
    
}
*/

.tabs.is-toggle {

    /* Positioning the navigation bar in between header and article */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -2.3rem;

    @media (max-width: $tablet) {
        top: -2.2rem;
    }

    ul li a {
        background-color: $white;
        border-color: $dark;

        /*
        background-image: url('../img/ornament.svg');
        background-position: right -1.6rem bottom -0.3rem;
        background-repeat: no-repeat;
        */
    }
    /* 
    ul li {
        
        color: $black;
        border-right: 1px solid #000; 

        background-image: url('../img/ornament.svg');
        background-position: right;
        background-repeat: no-repeat;

        background: $light;
        &:last-child {
            border: none;
        }
        &:hover {
            background: $grey-light;
        }
        
    }
    */
}
/*
li.is-active {
    background: $dark;
    color: $white;
}
*/

.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

figure {
    display: block;
    margin: 0 auto;
}

/*
.image.is-128x128.pattern-offset {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 140px;
    height: 140px;
}

.pattern-offset-parent {
    position: relative;
}
*/

hr {
    margin: 1rem 0 0.5rem 0;
    /*
    background-color: $dark;
    background-image: url('../img/ornament.svg');
    background-position: center;
    background-size: 48px 48px;
    */
}

/* From https://jgthms.com/contact/ and try https://joshwcomeau.com/snippets/html/scale-with-pseudoelements*/
.input, .textarea {
    box-shadow: none;
    background-color: $light;
    border: none;

    &:hover, &:focus {
        box-shadow: 0 0 0 .125rem $text;
    }
}